.movie {
  margin: 20px;
}

.box {
  border-radius: 10px;
  width: 25vh;
  height: 25vh;
  overflow: hidden;
  display: flex;
}

.box img {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  object-fit: cover;
}
